.news {
	display:flex;
	padding-top:20px;
}
.left-info-container {
	width:50%;
}

.right-info-container {
	width:50%;
	text-align:right;
}
.middle-rectangle {
	width:5px;
	height:auto;
	background-color: #59A96A;
}