.ruta {
 		margin-top: 10%;
		margin-left: 25%;
		margin-right: 25%;
		border: 5px solid #9BDEAC;
		border-radius: 5px;
		background-color: #9BDEAC;
		color: black;
}

.r {
		font-size: 22px;
		font-weight: bold;
		text-align: center;
		margin-top: 2%;

}

.h {
		font-size: 20px;
		text-align: center;
		margin-top: 2%;
}

.p {
		font-size: 18px;
		text-align: center;
		margin-top: 2%;
}

.t{
		margin-top: 1%;
}

.list {
	text-align: center;
	margin-top: 1%;
}