.h{
text-align: center;
margin-top: 5%;
font-size: 17px;
}
.p{
text-align: center;
margin-top: 5%;
margin-bottom: 5%;
}
.ruta{
margin-top: 10%;
margin-left: 40%;
margin-right: 40%;
border: 5px solid #59A96A;
border-radius: 10%;
background-color: #59A96A;
color: black;
}
